---
layout: home
title: jillian meehan
bio: I'm a Project Manager at [Lickability](https://lickability.com), a small software studio in New York. I also sometimes make zines, newsletters, and websites like this one. You can find me on [Twitter](https://twitter.com/jilliangmeehan) and [Instagram](https://instagram.com), if you want.
---

<div class="container">
  <section class="head">
    <h1>hi, I'm Jillian Meehan</h1>
    {{ page.bio | markdownify }}
    <nav>
      {% include nav.html %}
    </nav>
  </section>


  <section class="hi">
    {% for link in site.data.links %}
    {% include link.html link=link %}
    {% endfor %}
  </section>
</div>
