---
title: jillian g. meehan
layout: home
description: hi, I'm jillian.
bio: i'm a project manager at [Lickability](https://lickability.com), an indie software
  studio in nyc. i spend most of my time drinking tea & playing video games, but i do other stuff sometimes too ~
---

<div class="container">
  <section class="head">
    <h1>hi, i'm jillian :)</h1>
    {{ page.bio | markdownify }}
    <nav>
      {% include nav.html %}
    </nav>
  </section>


  <section class="hi">
    {% for link in site.data.links %}
    {% include link.html link=link %}
    {% endfor %}
  </section>
</div>
