---
layout: home
title: jillian meehan
desc: I’m a Project Manager at [Lickability](https://lickability.com), a ten-person software studio in New York. I also make zines, newsletters, and websites like this one. You can find me on [Twitter](https://twitter.com/jilliangmeehan) and [Instagram](https://instagram.com/jilliangmeehan), if you want.
---

<div class="container">
  <section class="head">
    <h1>Hi, I'm Jillian Meehan.</h1>
    <p>{{ page.desc | markdownify }}</p>
    <nav>
      {% include nav.html %}
    </nav>
  </section>

  <section class="work">
    <div class="flex">
      {% for item in site.data.work %}
      <div class="item">
        {% if item.url %}
          <h2><a class="link-with-arrow" href="{{ item.url }}">{{ item.title }}</a></h2>
        {% else %}
          <h2>{{ item.title }}</h2>
        {% endif %}
        <p>{{ item.description | markdownify }}</p>
        {% if item.l1-url %}
          <div class="links">
            <a class="gradient" href="{{ item.l1-url }}">{{ item.l1-copy }}</a>
          </div>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </section>
</div>

<footer>
  <p>☁️ Thanks for visiting!</p>
</footer>
