---
title: jillian g. meehan
layout: default
bio: making things on the internet
description: jillian g. meehan is making things on the internet
---

<!-- Variables -->
{% capture lickability %}{% include work/lickability.md %}{% endcapture %}
{% capture writing %}{% include work/writing.md %}{% endcapture %}
{% capture newsletter %}{% include work/newsletter.md %}{% endcapture %}
{% capture websites %}{% include work/websites.md %}{% endcapture %}
{% capture in-progress %}{% include work/in-progress.md %}{% endcapture %}
{% capture contact %}{% include work/contact.md %}{% endcapture %}

<!-- Content -->
<div class="container">
  <div id="accordion">
    <h2 class="peach">lickability</h2>
    <div class="item peach"><p>{{ lickability | markdownify }}</p></div>

    <h2 class="purplecold">snax</h2>
    <div class="item purplecold"><p>{{ in-progress | markdownify }}</p></div>

    <h2 class="yellow">newsletter</h2>
    <div class="item yellow"><p>{{ newsletter | markdownify }}</p></div>

    <h2 class="blue">websites</h2>
    <div class="item blue"><p>{{ websites | markdownify }}</p></div>

    <h2 class="orange">writing</h2>
    <div class="item orange"><p>{{ writing | markdownify }}</p></div>

    <h2 class="purplewarm">contact</h2>
    <div class="item purplewarm"><p>{{ contact | markdownify }}</p></div>
  </div>
</div>
