<p>
  I'm a Project Manager at

  <a href="https://lickability.com">Lickability,
    <svg viewBox="0 0 100 20" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
      <line class="underline" x1="5%" y1="80%" x2="95%" y2="80%"/>
    </svg>
  </a>

  a ten-person software studio in New York. I also make zines, newsletters, and websites like this one. You can find me on

  <a href="https://twitter.com/jilliangmeehan">Twitter
    <svg viewBox="0 0 100 20" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
      <line class="underline" x1="5%" y1="80%" x2="95%" y2="80%"/>
    </svg>
  </a>

  and

  <a href="https://instagram.com/jilliangmeehan">Instagram, 
    <svg viewBox="0 0 100 20" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
      <line class="underline" x1="5%" y1="80%" x2="95%" y2="80%"/>
    </svg>
  </a>

  if you want.
</p>
