// Variables
$peach: #F39895;
$purplecold: #B2A4D2;
$yellow: #FFC98C;
$blue: #B7CBDF;
$orange: #FFB9A3;
$purplewarm: #BD9BBF;

// Headers
h2 {
  &.peach {
    color: $peach;
    &:hover { color: darken($peach, 10%); }
  }

  &.purplecold {
    color: $purplecold;
    &:hover { color: darken($purplecold, 10%); }
  }

  &.yellow {
    color: $yellow;
    &:hover { color: darken($yellow, 10%); }
  }

  &.blue {
    color: $blue;
    &:hover { color: darken($blue, 10%); }
  }

  &.orange {
    color: $orange;
    &:hover { color: darken($orange, 10%); }
  }

  &.purplewarm {
    color: $purplewarm;
    &:hover { color: darken($purplewarm, 10%); }
  }
}

// Links
.peach {
  a {
    box-shadow: inset 0px -2px 0 $peach, inset 0 -7px 0 $background-color;
    &:hover {
      box-shadow: inset 0px -2px 0 $peach, inset 0 -7px 0 $peach;
    }
  }
}

.purplecold {
  a {
    box-shadow: inset 0px -2px 0 $purplecold, inset 0 -7px 0 $background-color;
    &:hover {
      box-shadow: inset 0px -2px 0 $purplecold, inset 0 -7px 0 $purplecold;
    }
  }
}

.yellow {
  a {
    box-shadow: inset 0px -2px 0 $yellow, inset 0 -7px 0 $background-color;
    &:hover {
      box-shadow: inset 0px -2px 0 $yellow, inset 0 -7px 0 $yellow;
    }
  }
}

.blue {
  a {
    box-shadow: inset 0px -2px 0 $blue, inset 0 -7px 0 $background-color;
    &:hover {
      box-shadow: inset 0px -2px 0 $blue, inset 0 -7px 0 $blue;
    }
  }
}

.orange {
  a {
    box-shadow: inset 0px -2px 0 $orange, inset 0 -7px 0 $background-color;
    &:hover {
      box-shadow: inset 0px -2px 0 $orange, inset 0 -7px 0 $orange;
    }
  }
}

.purplewarm {
  a {
    box-shadow: inset 0px -2px 0 $purplewarm, inset 0 -7px 0 $background-color;
    &:hover {
      box-shadow: inset 0px -2px 0 $purplewarm, inset 0 -7px 0 $purplewarm;
    }
  }
}

// Cards
.card {
  &.peach {
    background-color: lighten($peach, 3%);
    &:hover { background-color: $peach; }
  }

  &.purplecold {
    background-color: lighten($purplecold, 3%);
    &:hover { background-color: $purplecold; }
  }

  &.yellow {
    background-color: lighten($yellow, 3%);
    &:hover { background-color: $yellow; }
  }

  &.blue {
    background-color: lighten($blue, 3%);
    &:hover { background-color: $blue; }
  }

  &.orange {
    background-color: lighten($orange, 3%);
    &:hover { background-color: $orange; }
  }

  &.purplewarm {
    background-color: lighten($purplewarm, 3%);
    &:hover { background-color: $purplewarm; }
  }
}

// Dark mode
@media (prefers-color-scheme: dark) {
  .peach {
    a {
      box-shadow: inset 0px -2px 0 $peach, inset 0 -7px 0 $background-color-dark-mode;
    }
  }

  .purplecold {
    a {
      box-shadow: inset 0px -2px 0 $purplecold, inset 0 -7px 0 $background-color-dark-mode;
    }
  }

  .yellow {
    a {
      box-shadow: inset 0px -2px 0 $yellow, inset 0 -7px 0 $background-color-dark-mode;
    }
  }

  .blue {
    a {
      box-shadow: inset 0px -2px 0 $blue, inset 0 -7px 0 $background-color-dark-mode;
    }
  }

  .orange {
    a {
      box-shadow: inset 0px -2px 0 $orange, inset 0 -7px 0 $background-color-dark-mode;
    }
  }

  .purplewarm {
    a {
      box-shadow: inset 0px -2px 0 $purplewarm, inset 0 -7px 0 $background-color-dark-mode;
    }
  }
}
