$background-color: #FFFFFF;
$background-color-dark-mode: #232323;
$text-color: #000000;
$text-color-dark-mode: #FFFFFF;
$serif-font: 'Source Serif Pro';
$sans-serif-font: 'Source Sans Pro';

body {
  background: $background-color;
  margin: 8%;
  max-width: 500px;
  min-height: 600px;
  font-size: 1.2em;
  -webkit-font-smoothing: antialiased;
}

h1 {
  color: $text-color;
  font-family: $serif-font;
  font-weight: 400;
  margin-bottom: 0;
}

h2 {
  font-family: $serif-font;
  font-size: 2.5rem;
  line-height: 150%;
  margin: 0;
  transition: .5s;
  -webkit-transition: .5s;
  position: relative;
  outline-style: none;

  &:hover { cursor: pointer; }
}

p {
  color: $text-color;
  font-family: $sans-serif-font;
  font-size: 1rem;
  margin-bottom: 1rem;

  &.bio {
    font-size: 1.2rem;
    margin-top: 0;
  }
}

a {
  color: $text-color;
  font-family: $sans-serif-font;
  text-decoration: none;
  transition: .2s;
  -webkit-transition: .2s;
}

.container {
  margin-top: 2rem;
}

.card {
  border-radius: 15px;
  margin: 15px 0px 15px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: .2s;
  -webkit-transition: .2s;

  .item { margin: 15px 0px 15px 20px; }

  p {
    margin: 0;
    font-size: 0.8rem;
  }

  .link_title {
    font-size: 1.2rem;
    font-family: $serif-font;
    font-weight: 700;
  }
}

@media (prefers-color-scheme: dark) {
  body { background-color: $background-color-dark-mode; }
  h1, p, a { color: $text-color-dark-mode; }
  .card {
    p { color: $text-color; } 
  }
}
